*{
	padding: 0;
	margin: 0;
	list-style: none;
} 
ul{
	list-style: none;
}
/*头部*/
.topbox{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	padding:10px 2%;
	overflow: hidden;
	margin: -75px 0 0 0;
}
.s1{
	width: 20%;
	font-size: 26px;
    color: #52ffff;
    font-weight: bold;
    line-height: 50px;
}
.s2{
	width: 60%;
	float: left;
	text-align: center;
	font-size: 38px;
	display: inline-block;
	/*margin: 15px 0 0 0;*/
	background-image:-webkit-linear-gradient(left,#04a8f0,#1eaed2,#4177ed); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
}
.s3{
	width: 20%;
	float: left;
	text-align: right;
	display: inline-block;
	margin: 10px 0 0 0;
	font-size: 20px;
}
/*左边内容*/
.leftbox{
	width:40%;
	height: 100%;
	float: left;
}
.leftbox a{
	color: #ffffff;	
	display: inline-block;
	margin: 10px 0;
	font-size: 16px;
	color:#65c6e7;
}
.left-content{
	background: url(../img/d-bg1.png) no-repeat;
	background-size:100% 100%;	
	padding: 80px 50px 20px;
	position: relative;
}
.left-content h3{
	color:#65c6e7;
	font-size: 22px;
	position: absolute;
	top:20px;
	left:60px;
}
.left-content .text{
	color:#65c6e7;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}
/*项目概况*/
.left-details ul li{
	margin: 4% 0;
	overflow: hidden;
	line-height: 20px;
}	
.left-details ul li:last-child{
	margin: 6% 0 4% 0;
}
.left-details ul li span{
	display: inline-block;
	color:#65c6e7;
	font-size: 14px;
}
.left-details .span1{
	width: 30%;
	float: left;
	word-break:break-all;
}
.left-details .span1 i{
	display: inline-block;
	margin: 0 15px 0 0;
}
.left-details .span2{
	width: 30%;
	float: left;
	word-break:break-all;
}
.left-details .span3{
	width: 40%;
	float: left;
	word-break:break-all;
}
/*项目进度*/
.box .t1{
	float: left;
	display: inline-block;margin: 0 15px 0 0;
}
.layui-progress-big, .layui-progress-big .layui-progress-bar{
	width: 80%;
	float: left;
}
/*左边第二部分内容*/
.left-content1{
	overflow: hidden;
	margin: 20px 0 0 0;
	background: url(../img/d-bg2.png) no-repeat;
	background-size: 100% 100%;
	padding: 80px 50px 50px;
	position: relative;
}
.left-content1 h3{
	position: absolute;
	top: 20px;
	color:#65c6e7;
	font-size: 22px;
}
.left-content1 .left-box1{
	width: 55%;
	margin: 0 5% 0 0;
	float: left;
	height: 100%;
}
.left-content1 .left-box2{
	width: 40%;
	float: left;
	height: 100%;
	background: url(../img/d-bg5.png) no-repeat;
	background-size: 100% 100%;
}
.left-content1 .left-box2 ul li{
	border-bottom:1px solid #5d74ac;
	padding: 10px;
	margin: 0 10px;
}
.left-content1 .left-box2 ul li:last-child{
	border: none;
}
.left-content1 .left-box2 ul li p{
	line-height: 25px;
	color:#6cd9fe;
}


/*中间内容*/
.centerbox{
	width: 38%;
	margin:38px 1% 0;
	float: left;
	background: url(../img/d-bg3.png) no-repeat;
	background-size:100% 100%;	
}
.centerbox-details{
	margin: 0 auto;
	padding: 50px;
}
.center-header{
	border: 1px solid #31467d;
	background:rgba(255,255,255,.1);
	line-height: 25px;
	padding: 10px;
	font-size: 20px;
	color: #65c6e7;
}
.centerbox-details>div{
	margin: 0 auto;
}


/*右侧内容*/
.rightbox{
	width: 20%;
	float: right;
	/*margin: 38px 0 0 0;*/
	background: url(../img/d-bg4.png) no-repeat; 
	background-size:100% 100%;
} 

.right-content{
	margin: 0 20px;
	padding: 60px 0 30px;
	position: relative;
}
.right-content h3{
	position: absolute;
	top: 30px;
	right: 10px;
	font-size: 22px;
	color: #65c6e7;
}
.right-content ul{
	padding: 10px;
	overflow: hidden;
}
.right-content ul li{
	border: 1px solid #3c62c0;
	padding: 15px;
	overflow: hidden;
	height: 120px;
	border-bottom-left-radius: 20px;
	margin: 0 0 20px 0;
}
.right-content ul li:last-child{
	margin: 0;
}
.right-box-text{
	width: 60%;
	float: left;
}
.right-box-text .top{
	overflow: hidden;
}
.right-box-text .top img{
	height:60px;
	width: 60px;
	display: inline-block;
	margin: 0 15px 0 0;
	float: left;
}
.right-box-text .top p{
	color: #6cd9fe;
	line-height: 20px;
	font-size: 14px;
	float: left;
	margin: 10px 10px 0 0;
}
.right-box-text .top span{
	background:#00ffff;
	color: #000000;
	height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 10px;
	margin: 10px 0 0 0;
	display: inline-block;
}
.right-box-text .bottom{
	overflow: hidden;
	padding: 10px 0;
}
.right-box-text .bottom p{
	line-height: 25px;
}
.right-box-text .bottom span{
	color: #6cd9fe;
}
.right-box-text .bottom .icon{
	width: 20px;
	display: inline-block;
	text-align: center;
}
.right-box-img{
	width: 40%;
	float: right;
	height: 120px;
	position: relative;
}
.right-box-img img{
	height: 100%;
	display: inline-block;
	margin: 0 auto;
}
.right-box-img span{
	position: absolute;
	bottom:0;
	left: 5px;
	color: #6cd9fe;
}
/*查看全部*/
.all{
	float: right;
	font-size: 16px;
	color: #65c6e7;
}
